@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1>Singleton-1: @ViewBag.Singleton1</h1>
    <h1>Singleton-2: @ViewBag.Singleton2</h1>

    <hr />
    <h1>Scoped-1: @ViewBag.Scoped1</h1>
    <h1>Scoped-2: @ViewBag.Scoped2</h1>

    <hr />
    <h1>Transient-1: @ViewBag.Transient1</h1>
    <h1>Transient-2: @ViewBag.Transient2</h1>

</div>
